*.pyc
.ipynb_checkpoints/*
**/.ipynb_checkpoints/*
*.vagrant/*
.Trash-*/*
.virtual_documents/*
assg/*
data/cats_vs_dogs_small/*
data/dogs_vs_cats/*
data/pets_dataset_orig/*
data/aclImdb/*
data/glove*
data/spa-eng/*
data/coco/*
data/jena*

*.keras
*.v2

*.acn
*.swp
*.acr
*.alg
*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.snm
*.synctex.gz
*.toc
*.vrb
*.xdy
*.tdo
*.eps
*~

slides/*.md
slides/*.tex
slides/*.png
.snakemake
